<div class="modal-header">
  <h4 class="modal-title">{{tituloModal}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-md-12">
    <p>{{mensajeModal}}</p>
  </div>
  <div class="input-group" *ngIf="pidePass">
    <input
      id="input-pass"
      type="password"
      class="form-control"
      placeholder="Contraseña"
      (keyup.enter)="confirmarPass()"
      [(ngModel)]="passModal.valor"
      [ngClass]="{ 'validation': !passModal.esValido }">
  </div>
</div>
<div class="modal-footer">
  <div class="btn-group" *ngIf="pidePass">
    <button type="button" class="btn btn-success" (click)="confirmarPass()">Confirmar</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close(null)">Cancelar</button>
  </div>

  <div class="btn-group" *ngIf="!pidePass">
    <button id="ok-button" type="button" class="btn btn-success" (click)="activeModal.close(null)">Ok</button>
  </div>
</div>
