<div class="row">
  <div class="col-md-12">
    <h4>Lista de usuarios registrados</h4>
  </div>

  <div class="col-md-10 table-center">
    <table class="table table-hover" *ngIf="listaUsuarios.length > 0; else listaVacia">
      <thead>
        <th>Nombre y apellido</th>
        <th>Tipo de usuario</th>
        <th>Estado</th>
        <th>Detalles</th>
      </thead>
      <tbody>
        <tr *ngFor="let u of listaUsuarios; index as i">
          <td>{{u.nombre.valor}}</td>
          <td>{{u.tipoUsuario.valor}}</td>
          <td [ngClass]="{'table-success': u.estado.valor, 'table-danger': !u.estado.valor}">{{u.dameEstado()}}</td>
          <td>
            <button class="btn btn-info" (click)="verDetalles(u.id)">Ver detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #listaVacia>
      <p>No hay usuarios creados por el momento. Haga click en el boton "Registrar nuevo usuario" para tener uno nuevo.</p>
    </ng-template>
  </div>
</div>
