<div class="row">
  <div class="col-md-12">
    <h4>
      Ventas del
      <span>{{ jornada.fechaInicio.valor | date: "dd-MMM-yyyy" }}</span>
    </h4>
  </div>
</div>

<hr class="col-md-6" />

<div class="row">
  <div class="col-md-12">
    <h5 class="second-title">Resumen de la jornada</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-4 table-center">
    <table class="table table-hover">
      <thead>
        <th colspan="2">Totales del día</th>
      </thead>
      <tbody>
        <tr>
          <td>Cambio</td>
          <td>{{jornada.cambio.valor | currency}}</td>
        </tr>
        <tr>
          <td>Ventas con efectivo</td>
          <td>{{jornada.montoEfectivo | currency}}</td>
        </tr>
        <tr>
          <td>Sueldos</td>
          <td>{{ jornada.montoSueldos | currency }}</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Total Caja</td>
          <td class="font-weight-bold">{{ jornada.montoCaja | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4 col-md-offset-2 table-center">
    <table class="table table-hover">
      <thead>
        <th colspan="2">Totales con tarjeta</th>
      </thead>
      <tbody>
        <tr>
          <td>Sin Interes</td>
          <td>{{jornada.montoTarjeta | currency}}</td>
        </tr>
        <tr>
          <td>Con Interes</td>
          <td>{{jornada.montoTarjeta * 1.1| currency}}</td>
        </tr>
        <tr>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="2">
            Jornada iniciada el {{jornada.fechaInicio.valor | date: "dd-MMM-yyyy, HH:mm"}} por {{jornada.iniciadaPor}}
          </td>
        </tr>
        <tr>
          <td colspan="2" *ngIf="jornada.fechaFin.valor">
            Jornada terminada el {{jornada.fechaFin.valor | date: "dd-MMM-yyyy, HH:mm"}} por {{jornada.cerradaPor}}
          </td>
          <td colspan="2" *ngIf="!jornada.fechaFin.valor">
            La jornada aún no está terminada
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class="col-md-6" />

<div class="row">
  <div class="col-md-12">
    <h5 class="second-title">{{ tituloVentas }}</h5>
  </div>
</div>

<div class="row" *ngIf="ventasDeJornada.length > 0">
  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>Fecha</th>
        <th>Vendedor</th>
        <th>Total - Efectivo</th>
        <th>Total - Tarjetas</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventasDeJornada; index as i">
          <td>{{venta.fechaVenta.valor | date: "dd-MMM-yyyy, HH:mm"}}</td>
            <td>{{venta.vendedor}}</td>
            <td>{{venta.totalEfectivo | currency}}</td>
            <td>{{venta.totalTarjetas | currency}}</td>
            <td>
              <div class="btn-group">
                <button
                  class="btn btn-success"
                  title="Ver las ventas de la jornada"
                  (click)="verDetallesVenta(venta.id)">Ver detalles</button>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
