<div class="row">
  <div class="col-md-12">
    <h4>
      {{titulo}}
      <span>{{estad.fecha.valor | date: "MMM-yyyy"}}</span>
    </h4>
  </div>
</div>

<div class="row segunda-fila">
  <label class="col-md-6 offset-md-3 col-form-label text-center">
    Total efectivo: {{estad.montoEfectivo | currency}} - Total tarjetas: {{estad.montoTarjeta | currency}}
  </label>
</div>

<div class="row">
  <div class="col-md-10 table-center">
    <table class="table table-hover" *ngIf="jornadasDelMes.length > 0; else listaVacia">
      <thead>
        <th>Fecha</th>
        <th>Total - Efectivo</th>
        <th>Total - Tarjetas</th>
        <th>Detalles</th>
      </thead>
      <tbody>
        <tr *ngFor="let jor of jornadasDelMes">
          <td>{{jor.fechaInicio.valor | date: "dd-MMM-yyyy"}}</td>
          <td>{{jor.montoEfectivo | currency}}</td>
          <td>{{jor.montoTarjeta | currency}}</td>
          <td>
            <button
              class="btn btn-success"
              title="Ver las ventas de la jornada"
              (click)="verDetallesJornada(jor.id)">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #listaVacia>
      <p>No hay jornadas cargadas por el momento.</p>
    </ng-template>
  </div>
</div>
