<div class="row">
  <div class="col-md-12">
    <h4>{{ titulo }}</h4>
  </div>
</div>

<div class="row" *ngIf="listaPreciosMod.length > 0">
  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>¿Cuando se modificó?</th>
        <th>¿Qué articulo?</th>
        <th>¿Quien lo modificó?</th>
        <th>¿Porqué lo modificó?</th>
        <th>¿Cual fue su precio anterior?</th>
        <th>¿Cual es su precio actualizado?</th>
      </thead>
      <tbody>
        <tr *ngFor="let precio of listaPreciosMod">
          <td>{{ precio.fecha.valor | date: "dd-MMM-yyyy, HH:mm" }}</td>
          <td>{{ precio.articulo }}</td>
          <td>{{ precio.autorizacion }}</td>
          <td>{{ precio.descripcion.valor }}</td>
          <td>{{ precio.precioViejo | currency }}</td>
          <td>{{ precio.precioNuevo | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
