* {
  text-align: center;
}

h4 {
  margin-bottom: 20px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.validation {
  border: 1px solid red;
}

.text-validation {
  color: red;
}

.cuerpo {
  margin-top: 90px;
  display: block;
}

div.table-center {
  margin: 0 auto;
}

