<div class="row">
  <div class="col-md-12">
    <h4>¿Cómo pagará el cliente?</h4>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-6 offset-md-3 col-form-label text-center">
    Monto total: {{nuevaVenta.precioArticulos | currency}}

    <span
      class="badge badge-info mr-2 separado"
      placement="right"
      [ngbPopover]="listaArticulos">
        $
    </span>
    <ng-template #listaArticulos>
      <div *ngFor="let texto of nuevaVenta.textoArticulos">
        <div>{{texto}}</div>
      </div>
    </ng-template>
  </label>
</div>

<div class="col-md-10 table-center">
  <table class="table table-hover">
    <thead>
      <th>Medio de pago</th>
      <th>Ganancia</th>
      <th>Interés %</th>
      <th>Lo que pagará</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of nuevaVenta.pagos">
        <td>{{p.descripcion}}</td>
        <td>
          <input
            type="text"
            class="form-control"
            placeholder="$1000"
            [ngClass]="{ 'validation': !p.pagoParcial.esValido || !nuevaVenta.valoresIguales }"
            [(ngModel)]="p.pagoParcial.valor">
        </td>
        <td>{{p.interes}}</td>
        <td>{{p.calcularPago | currency}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{nuevaVenta.calcularTotal(true) | currency}}</td>
        <td></td>
        <td>{{nuevaVenta.calcularTotal(false) | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
