<div class="row">
  <div class="col-md-12">
    <h4>
      {{ titulo }}

      <span
        class="badge badge-info mr-2 separado"
        placement="bottom"
        [ngbPopover]="popTotales"
        *ngIf="hayArticulos">
        Art. cargados
      </span>

      <ng-template #popTotales>
        <div *ngFor="let texto of listaTotales">
          <div>{{texto}}</div>
        </div>
      </ng-template>
    </h4>
  </div>
</div>

<div class="row" *ngIf="hayArticulos">
  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>Código</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Opciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let art of listaArticulos">
          <ng-container *ngIf="art.mostrar">
            <ng-container *ngIf="!art.cambiarPrecio; else uiPrecioMod">
              <td>{{art.codigo.valor}}</td>
              <td>{{art.descripcion.valor}}</td>
              <td>{{art.precioStock.valorPrevio | currency}}</td>
              <td>
                <div class="btn-group">
                  <button
                    class="btn btn-warning"
                    title="Cambiar el precio de un artículo"
                    (click)="mostrarPrecioUi(art)">Cambiar precio</button>
                  <button
                    class="btn btn-danger"
                    title="Eliminar artículo del stock"
                    (click)="eliminarDelStock(art)">Eliminar</button>
                </div>
              </td>
            </ng-container>
            <ng-template #uiPrecioMod>
              <td>{{art.codigo.valor}}</td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  placeholder="¿Porqué querés cambiar el precio?"
                  [(ngModel)]="precioMod.descripcion.valor"
                  [ngClass]="{ 'validation': !precioMod.descripcion.esValido }">
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="art.precioStock.valor"
                  [ngClass]="{ 'validation': !art.precioStock.esValido }">
              </td>
              <td>
                <div class="btn-group">
                  <button
                    class="btn btn-success"
                    title="Confirmar el cambio de precio del artículo"
                    (click)="confirmarCambiarPrecio()">Confirmar</button>
                  <button
                    class="btn btn-danger"
                    title="Cancelar el cambio de precio del artículo"
                    (click)="cancelarCambiarPrecio(true)">Cancelar</button>
                </div>
              </td>
            </ng-template>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
