<div class="row">
  <div class="col-md-12">
    <h4>{{titulo}}</h4>
  </div>
</div>

<div class="row segunda-fila">
  <label class="col-md-6 offset-md-3 col-form-label text-center">
    Total efectivo: {{venta.totalEfectivo | currency}} - Total tarjetas: {{venta.totalTarjetas | currency}}
  </label>
  <label class="col-md-6 offset-md-3 col-form-label text-center">
    Venta hecha por {{venta.vendedor}} el {{venta.fechaVenta.valor | date: "dd-MMM-yyyy, HH:mm"}}
  </label>
</div>

<hr class="col-md-6" />

<div class="row">
  <div class="col-md-12">
    <h4>¿Qué compró el cliente?</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>Código artículo</th>
        <th>Descripción</th>
        <th>Precio stock</th>
        <th>Descuento</th>
        <th>Precio venta</th>
      </thead>
      <tbody>
        <tr *ngFor="let art of venta.articulos; index as i">
          <td>{{art.codigo.valor}}</td>
          <td>{{art.descripcion.valor}}</td>
          <td>{{art.precioStock.valor | currency}}</td>
          <td>{{(art.descuento.valor / 100) | percent }}</td>
          <td>{{art.calcularPrecioVenta | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr class="col-md-6" />

<div class="row">
  <div class="col-md-12">
    <h4>¿Cómo pagó el cliente?</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10 table-center">
    <table class="table table-hover">
      <thead>
        <th>Medio de pago</th>
        <th>Ganancia</th>
        <th>Interés</th>
        <th>Lo que pagó</th>
      </thead>
      <tbody>
        <tr *ngFor="let p of venta.pagos">
          <td>{{p.descripcion}}</td>
          <td>{{(p.pagoParcial.valor || 0)| currency}}</td>
          <td>{{(p.interes / 100) | percent}}</td>
          <td>{{p.calcularPago | currency}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{venta.calcularTotal(true) | currency}}</td>
          <td></td>
          <td>{{venta.calcularTotal(false) | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
