.btn-group {
  margin: 10px 0;

  &.segundo-grupo {
    &.col-md-3 {
      margin-left: 25%;
    }

    &.col-md-6 {
      margin-left: 10%;
    }
  }
}

.form-inline {
  .input-group {
    margin: 10px auto;
    width: 100%;
  }
}
