<div class="row">
  <div class="col-md-12">
    <h4>Registrar nuevo usuario</h4>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-2 offset-md-4 col-form-label">Nombre y apellido:</label>
  <div class="col-md-3">
    <input type="text"
      class="form-control"
      placeholder="Nombre y apellido"
      [(ngModel)]="usuarioCreado.nombre.valor"
      [ngClass]="{ 'validation': !usuarioCreado.nombre.esValido }">
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 offset-md-4 col-form-label">Tipo de usuario:</label>
  <div class="col-md-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="tipoUsuario" value="Administrador"
        [(ngModel)]="usuarioCreado.tipoUsuario.valor">
      <label class="form-check-label"
        [ngClass]="{ 'text-validation': !usuarioCreado.tipoUsuario.esValido }">
        Administrador
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="tipoUsuario" value="Vendedor"
        [(ngModel)]="usuarioCreado.tipoUsuario.valor">
      <label class="form-check-label"
        [ngClass]="{ 'text-validation': !usuarioCreado.tipoUsuario.esValido }">
        Vendedor
      </label>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 offset-md-4 col-form-label">Sueldo por jornada:</label>
  <div class="col-md-3">
    <input type="text"
      class="form-control"
      placeholder="$1000"
      [(ngModel)]="usuarioCreado.sueldo.valor"
      [ngClass]="{ 'validation': !usuarioCreado.sueldo.esValido }">
  </div>
</div>

<hr class="col-md-6" />

<div class="form-group row">
  <label class="col-md-2 offset-md-4 col-form-label">Contraseña:</label>
  <div class="col-md-3">
    <input type="password"
      class="form-control"
      placeholder="Contraseña"
      [(ngModel)]="usuarioCreado.pass.valor"
      [ngClass]="{ 'validation': !usuarioCreado.pass.esValido || !usuarioCreado.passOk  }">
  </div>
</div>
<div class="form-group row">
  <label class="col-md-2 offset-md-4 col-form-label">Repetir contraseña:</label>
  <div class="col-md-3">
    <input type="password"
    class="form-control"
    placeholder="Repetir contraseña"
    [(ngModel)]="usuarioCreado.passComparar.valor"
    [ngClass]="{ 'validation': !usuarioCreado.passComparar.esValido || !usuarioCreado.passOk }">
  </div>
</div>
